bnppf.booking.api.url={{ bnppf_booking_api_url }}

spring.kafka.bootstrap-servers={{ spring_kafka_bootstrap_servers }}
spring.kafka.consumer.group-id={{ spring_kafka_consumer_group_id }}
bnppf.sctinst.request.booking={{ bnppf_sctinst_request_booking }}
bnppf.sctinst.logging={{ bnppf_sctinst_logging }}
timeout={{ service2_timeout }}